

<div class="btn-container">
  <button class="btn" (click)="popupIsActive = true">Add New Student</button>
</div>


<!--Start Table-->
<table>
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Birthday date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList; trackBy: trackBy">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.phoneNumber }}</td>
      <td>{{ student.birthday }}</td>
    </tr>
  </tbody>
</table>
<!--End Table-->


<!--Start Popup-->
<div class="popup" *ngIf="popupIsActive">
  <div class="box">
    <div class="inner-content">
      <form [formGroup]="studentForm" (ngSubmit)="addNewStudent()">
        <div class="form-group">
          <label class="title">Student Name</label>
          <input class="form-control" [class.is-invalid]="name.touched && name.invalid" formControlName="name" type="text" placeholder="Student Name">
          <!--Error Messages-->
          <div class="invalid-msg" *ngIf="name.touched && name.errors?.required">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label class="title">Email</label>
          <input class="form-control" [class.is-invalid]="email.touched && email.invalid" formControlName="email" type="email" placeholder="Email">
          <!--Error Messages-->
          <div class="invalid-msg" *ngIf="email.touched && email.errors?.required">
            Email is required
          </div>
          <div class="invalid-msg" *ngIf="email.touched && email.errors?.email">
            Invalid Email Format
          </div>
        </div>
        <div class="form-group">
          <label class="title">Phone Number</label>
          <input class="form-control" [class.is-invalid]="phoneNumber.touched && phoneNumber.invalid" formControlName="phoneNumber" type="text" placeholder="Phone Number">
          <!--Error Messages-->
          <div class="invalid-msg" *ngIf="phoneNumber.touched && phoneNumber.errors?.required">
            Phone Number is required
          </div>
          <div class="invalid-msg" *ngIf="phoneNumber.touched && phoneNumber.errors?.pattern">
            Invalid Phone Number ex:01234567891
          </div>
        </div>
        <div class="form-group">
          <label class="title">Birthday Date</label>
          <input class="form-control" [class.is-invalid]="birthday.touched && birthday.invalid" formControlName="birthday" type="text" placeholder="19/02/2021">
          <!--Error Messages-->
          <div class="invalid-msg" *ngIf="birthday.touched && birthday.errors?.required">
            birthday is required
          </div>
          <div class="invalid-msg" *ngIf="birthday.touched && birthday.errors?.pattern">
            Invalid birthday ex:dd/mm/yyyy
          </div>
        </div>
        <div class="btn-container">
          <button class="btn btn-close" type="button" (click)="popupIsActive = false">Cancel</button>
          <button class="btn" [disabled]="studentForm.invalid">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--End Popup-->
